*{
    margin: 0;
    outline: none;
    padding: 0;
    
}
nav{                                                               /*This is the navigation bar style*/
    width: 100%;
    height: 15vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: orange;
    font-size: 23px;
    font-weight: bold;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   
   
}

nav img{
    width: 180px;
    height: 116px;
    position: relative;
    left: 0px;
}

.id{
    margin-left: 400px;
}
a{
    text-decoration: none;

}
a:hover{
    /* color: rgba(22, 160, 160, 0.41); */
    /* background-color: olive; */
    border-radius: 4px;
    border: 2px solid royalblue;
    
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('./images/images.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
    
}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    
}
.text-box h1{
    font-size: 62px;
    -webkit-text-stroke: 1px red;
    text-shadow: 5px 7px 2px rgba(46, 7, 7, 0.564);
    position: relative;
    top: -40px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
    
}
button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.testimonials{
    width: 100%;
    height: 900px;
    background-image: url('./images/d1.jpg');
    position: relative;
    top: 800px;
    display: inline-block;
}
.testimonials h2{
    font-size: 30px;
    color: red;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 80px;
    text-shadow: 0px 0px 5px brown;
}
.testimonials .test{
    width: 25%;
    height: 450px;
    background-color: white;
    position: relative;
    top: 230px;
    left: 100px;
    background: transparent;
}
.testimonials .test img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    border-radius: 50%;
    
}
.testimonials .test h4{
    text-align: center;
    color: chocolate;
    font-size: 25px;
    margin-top: 30px;
    
}
.testimonials .test .dept{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: brown;
    position: relative;
    top: 10px;
    
}
.test .test1{
    width: 80%;
    height: 170px;
    background-color: burlywood;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    position: relative;
    top: 40px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    left: 25px;

}
.testimonials .test2{
   
    width: 25%;
    height: 450px;
    background-color: aqua;
    background: transparent;
    position: relative;
    top: -210px;
    left: 580px;
    
}
.testimonials .test2 img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    border-radius: 50%;
}
.test2 .head{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: blue;

}
.test2 .dept1{
    text-align: center;
    color: goldenrod;
    font-size: 25px;
}
.test2 .test3{
    width: 80%;
    height: 170px;
    background-color: grey;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    position: relative;
    top: 23px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    left: 25px;

}
.testimonials .test4{
    width: 25%;
    height: 450px;
    background-color: brown;
    position: relative;
    top: -640px;
    float: right;
    right: 80px;
    background: transparent;
}
.testimonials .test4 img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    border-radius: 50%;
    top: -10px;
    
}
.test4 h4{
    color: green;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 20px;
    
}
.test4 .dept2{
    text-align: center;
    font-size: 20px;
    color: cadetblue;
    margin-top: 20px;
}
.test4 .test5{
    width: 80%;
    height: 170px;
    background-color: rgba(137, 10, 10, 0.542);
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    position: relative;
    top: 15px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    left: 25px;

}
.testimonials .review{
    width: 100%;
    height: 900px;
    background-color: white;
    position: relative;
    top: 0px;
}

.testimonials .rew {
    text-align: center;
    position: relative;
    left: 200px;
    color: goldenrod;
    text-shadow: 0px 0px 2px red;
    
}
/* .testimonials .rew{
    width: 0%;
    left: 50%;
    height: 3px;
    background-color: deeppink;
    position: absolute;
    transition: all linear 2s;
} */
.testimonials .review .rew1{
     width: 40%;
    height: 250px;
    background-color: cadetblue;
    border: double green;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.testimonials .review .rew1{
    top: 80px;
    position: relative;
    left: 120px;
}
.testimonials .review .rew2{
    width: 40%;
   height: 250px;
   background-color: rgba(193, 17, 172, 0.744);
   border-top-left-radius: 25px;
   border-bottom-right-radius: 25px;
   border: 2px double greenyellow;
}
.testimonials .review .rew2{
   top: -170px;
   position: relative;
   left: 800px;
   
}
.testimonials .review .rew1 img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.review .rew1 h5{
    position: relative;
    left: 60px;
    font-size: 20px;
}
.icon{
    font-size: 19px !important;
    color: gold;
    position: relative;
    left: 420px;
    top: -20px;
}
.review .rew1 .par1{
    text-indent: 70px;
    text-align: justify;
    padding: 0px 10px;
    font-size: 17px;
    color: aliceblue;
}
/*  */

.testimonials .review .rew2 img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.review .rew2 h5{
    position: relative;
    left: 60px;
    font-size: 20px;
}
.icon{
    font-size: 19px !important;
    color: gold;
    position: relative;
    left: 420px;
    top: -20px;
}
.review .rew2 .par1{
    text-indent: 70px;
    text-align: justify;
    padding: 0px 10px;
    font-size: 17px;
    color: whitesmoke;
}
/*  */
.testimonials .review .rew3{
    width: 40%;
    height: 250px;
    background-color: blueviolet;
    position: relative;
    left: 130px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: double gray;
}
.testimonials .review .rew3 img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.review .rew3 h5{
    position: relative;
    left: 60px;
    font-size: 20px;
}
.review .rew3 .par1{
    text-indent: 70px;
    text-align: justify;
    padding: 0px 10px;
    font-size: 17px;
    color: white;
}
/*  */
.testimonials .review .rew4{
    width: 40%;
    height: 250px;
    background-color: rgb(155, 7, 7);
    position: relative;
    left: 820px;
    top: -260px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: double gold;
}
.testimonials .review .rew4 img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.review .rew4 h5{
    position: relative;
    left: 60px;
    font-size: 20px;
}
.review .rew4 .par1{
    text-indent: 70px;
    text-align: justify;
    padding: 0px 10px;
    font-size: 17px;
    color: white;
}
.testimonials footer{
    width: 100%;
    height: 180px;
    background-color: dimgray;
    border: 2px double olive;
}
footer:hover{
    border: 2px solid darkred;
}
.testimonials .foot .head1{
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: 50px;
    
}


